* {
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
/**
in the end of the animation redus the grid gap to 0,
and mahe the necesery changes
**/
.cont {
  /* background-image: linear-gradient(black 50%, #ff4f01 100%); */
  background-color: black;
  box-shadow: 0, 0\0, 0 black;
  width: 100%;
  height: 100vh;
  position: relative;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(auto-fill, minmax(5%, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(10%, 1fr));
  animation: anie 10s ease-in-out;
  animation-delay: 5.5s;
  transition-duration: 0.5s;
}
@keyframes anime {
  100% {
    grid-gap: 0;
  }
}
@media (max-width: 676px) {
  .cont {
    grid-template-columns: repeat(auto-fill, minmax(10%, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(5%, 1fr));
  }
}
.cont span {
  background-color: #181818;
}
span:nth-child(1),
span:nth-child(20),
span:nth-child(39),
span:nth-child(58),
span:nth-child(77),
span:nth-child(96),
span:nth-child(115),
span:nth-child(134),
span:nth-child(153) {
  animation: animate 0.8s linear;
}
span:nth-child(2),
span:nth-child(21),
span:nth-child(40),
span:nth-child(59),
span:nth-child(78),
span:nth-child(97),
span:nth-child(116),
span:nth-child(135),
span:nth-child(154) {
  animation: animate 0.8s linear;
  animation-delay: 0.2s;
}
span:nth-child(3),
span:nth-child(22),
span:nth-child(41),
span:nth-child(60),
span:nth-child(79),
span:nth-child(98),
span:nth-child(117),
span:nth-child(136),
span:nth-child(155) {
  animation: animate 0.8s linear;
  animation-delay: 0.4s;
}
span:nth-child(4),
span:nth-child(23),
span:nth-child(42),
span:nth-child(61),
span:nth-child(80),
span:nth-child(99),
span:nth-child(118),
span:nth-child(137),
span:nth-child(156) {
  animation: animate 0.8s linear;
  animation-delay: 0.6s;
}
span:nth-child(5),
span:nth-child(24),
span:nth-child(43),
span:nth-child(62),
span:nth-child(81),
span:nth-child(100),
span:nth-child(119),
span:nth-child(138),
span:nth-child(157) {
  animation: animate 0.8s linear;
  animation-delay: 0.8s;
}
span:nth-child(6),
span:nth-child(25),
span:nth-child(44),
span:nth-child(63),
span:nth-child(82),
span:nth-child(101),
span:nth-child(120),
span:nth-child(139),
span:nth-child(158) {
  animation: animate 0.8s linear;
  animation-delay: 1s;
}
span:nth-child(7),
span:nth-child(26),
span:nth-child(45),
span:nth-child(64),
span:nth-child(83),
span:nth-child(102),
span:nth-child(121),
span:nth-child(140),
span:nth-child(159) {
  animation: animate 0.8s linear;
  animation-delay: 1.2s;
}
span:nth-child(8),
span:nth-child(27),
span:nth-child(46),
span:nth-child(65),
span:nth-child(84),
span:nth-child(103),
span:nth-child(122),
span:nth-child(141),
span:nth-child(160) {
  animation: animate 0.8s linear;
  animation-delay: 1.4s;
}
span:nth-child(9),
span:nth-child(28),
span:nth-child(47),
span:nth-child(66),
span:nth-child(85),
span:nth-child(104),
span:nth-child(123),
span:nth-child(142),
span:nth-child(161) {
  animation: animate 0.8s linear;
  animation-delay: 1.6s;
}
span:nth-child(10),
span:nth-child(29),
span:nth-child(48),
span:nth-child(67),
span:nth-child(86),
span:nth-child(105),
span:nth-child(124),
span:nth-child(143),
span:nth-child(162) {
  animation: animate 0.8s linear;
  animation-delay: 1.8s;
}
span:nth-child(11),
span:nth-child(30),
span:nth-child(49),
span:nth-child(68),
span:nth-child(87),
span:nth-child(106),
span:nth-child(125),
span:nth-child(144),
span:nth-child(163) {
  animation: animate 0.8s linear;
  animation-delay: 2s;
}
span:nth-child(12),
span:nth-child(31),
span:nth-child(50),
span:nth-child(69),
span:nth-child(88),
span:nth-child(107),
span:nth-child(126),
span:nth-child(145),
span:nth-child(164) {
  animation: animate 0.8s linear;
  animation-delay: 2.2s;
}
span:nth-child(13),
span:nth-child(32),
span:nth-child(51),
span:nth-child(70),
span:nth-child(89),
span:nth-child(108),
span:nth-child(127),
span:nth-child(146),
span:nth-child(165) {
  animation: animate 0.8s linear;
  animation-delay: 2.4s;
}
span:nth-child(14),
span:nth-child(33),
span:nth-child(52),
span:nth-child(71),
span:nth-child(90),
span:nth-child(109),
span:nth-child(128),
span:nth-child(147),
span:nth-child(166) {
  animation: animate 0.8s linear;
  animation-delay: 2.6s;
}
span:nth-child(15),
span:nth-child(34),
span:nth-child(53),
span:nth-child(72),
span:nth-child(91),
span:nth-child(110),
span:nth-child(129),
span:nth-child(148),
span:nth-child(167) {
  animation: animate 0.8s linear;
  animation-delay: 2.8s;
}
span:nth-child(16),
span:nth-child(35),
span:nth-child(54),
span:nth-child(73),
span:nth-child(92),
span:nth-child(111),
span:nth-child(130),
span:nth-child(149),
span:nth-child(168) {
  animation: animate 0.8s linear;
  animation-delay: 3s;
}
span:nth-child(17),
span:nth-child(36),
span:nth-child(55),
span:nth-child(74),
span:nth-child(93),
span:nth-child(112),
span:nth-child(131),
span:nth-child(150),
span:nth-child(169) {
  animation: animate 0.8s linear;
  animation-delay: 3.2s;
}
span:nth-child(18),
span:nth-child(37),
span:nth-child(56),
span:nth-child(75),
span:nth-child(94),
span:nth-child(113),
span:nth-child(132),
span:nth-child(151),
span:nth-child(170) {
  animation: animate 0.8s linear;
  animation-delay: 3.4s;
}
span:nth-child(19),
span:nth-child(38),
span:nth-child(57),
span:nth-child(76),
span:nth-child(95),
span:nth-child(114),
span:nth-child(133),
span:nth-child(152),
span:nth-child(171) {
  animation: animate 0.8s linear;
  animation-delay: 3.6s;
}
@keyframes animate {
  0% {
    background-color: #181818;
  }
  50% {
    background-color: #ff4f01;
  }
  100% {
    background-color: #181818;
  }
}
