* {
  padding: 0;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}
.cont {
  background-image: linear-gradient(black 50%, #ff4f01 100%);
  width: 100%;
  height: 100vh;
  position: relative;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(auto-fill, minmax(5%, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(10%, 1fr));
}
@media (max-width: 676px) {
  .cont {
    grid-template-columns: repeat(auto-fill, minmax(10%, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(5%, 1fr));
  }
}
.form {
  background-color: #232323;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 8px;
}
h2 {
  text-transform: uppercase;
  margin-bottom: 35px;
  color: #ff4f01;
  font-weight: normal;
  font-size: 28px;
}
.form input {
  width: 250px;
  min-height: 30px;
  margin-bottom: 20px;
  padding: 5px 10px;
  background-color: #333333;
  border: none;
  outline: none;
  caret-color: #ff4f01;
  color: white;
}
@media (max-width: 676px) {
  .form input {
    width: 210px;
    min-height: 25px;
    margin-bottom: 20px;
    padding: 5px 10px;
    background-color: #333333;
    border: none;
    outline: none;
    caret-color: #ff4f01;
    color: white;
  }
}
.form input::placeholder {
  text-transform: capitalize;
}
.form > div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.form > div a {
  text-decoration: none;
  text-transform: capitalize;
}
.form > div a:first-child {
  color: white;
}
.form > div a:last-child {
  color: #ff4f01;
}
input[type="button"] {
  width: 100%;
  font-size: large;
  text-transform: capitalize;
  padding: 10px;
  letter-spacing: 1px;
  background-color: #ff4f01;
  cursor: pointer;
}
span {
  background-color: #181818;
}
span:nth-child(40),
span:nth-child(60),
span:nth-child(6),
span:nth-child(35),
span:nth-child(68),
span:nth-child(85) {
  animation: infinite animate 3s linear;
}
span:nth-child(45),
span:nth-child(65),
span:nth-child(30),
span:nth-child(25),
span:nth-child(75),
span:nth-child(140) {
  animation: infinite animate 3.3s linear;
  animation-delay: 0.5s;
}
span:nth-child(47),
span:nth-child(63),
span:nth-child(34),
span:nth-child(21),
span:nth-child(10),
span:nth-child(88) {
  animation: infinite animate 3.1s linear;
  animation-delay: 1s;
}
span:nth-child(74),
span:nth-child(62),
span:nth-child(29),
span:nth-child(19),
span:nth-child(110),
span:nth-child(150) {
  animation: infinite animate 3.4s linear;
  animation-delay: 1s;
}
span:nth-child(2),
span:nth-child(14),
span:nth-child(66),
span:nth-child(130),
span:nth-child(115),
span:nth-child(120) {
  animation: infinite animate 3.5s linear;
  animation-delay: 1.3s;
}
span:nth-child(137),
span:nth-child(145),
span:nth-child(90),
span:nth-child(12),
span:nth-child(100),
span:nth-child(162) {
  animation: infinite animate 3.5s linear;
  animation-delay: 1.4s;
}
@keyframes animate {
  0% {
    background-color: #181818;
  }
  50% {
    background-color: #ff4f01;
  }
  100% {
    background-color: #181818;
  }
}
nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 35px;
  height: 100vh;
  background-color: black;
  transition-duration: 1s;
}
@media (max-width: 676px) {
  nav {
    width: 0;
  }
}
.exp {
  width: 360px;
}
@media (max-width: 676px) {
  .exp {
    width: 270px;
  }
}
nav button {
  background-color: transparent;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 15px;
  top: 35px;
  border-color: #ff4f01;
  border-width: 4px;
  border-bottom: transparent;
  border-left: transparent;
  transform: rotate(45deg);
  cursor: pointer;
  outline: none;
  transition-duration: 1s;
  z-index: 3;
}
@media (max-width: 676px) {
  nav button {
    background-color: transparent;
    width: 35px;
    height: 35px;
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translatey(10px);
    border-color: #ff4f01;
    border-width: 5px;
    border-bottom: transparent;
    border-left: transparent;
    transform: rotate(45deg) translateY(-50%);
    cursor: pointer;
    outline: none;
    transition-duration: 1s;
    z-index: 3;
  }
}
.rotate {
  transform: rotate(225deg);
  top: 30px;
  width: 25px;
  height: 25px;
  border-width: 4px;
}
.show {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  top: 49%;
  right: 38px;
  background-color: transparent;
  color: #ff4f01;
  cursor: pointer;
  outline: none;
}
i {
  position: relative;
}
.fanted {
  color: #7b2500;
}
nav {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.search {
  display: flex;
  padding: 20px;
  position: relative;
}
.search input {
  width: calc(100% - 50px);
  padding: 13px;
  border-radius: 25px;
  border-style: solid;
  border-width: 1px;
  background-color: #181818;
  border-color: white;
  text-transform: capitalize;
  color: white;
  caret-color: #ff4f01;
  outline: none;
}
.search i {
  position: absolute;
  right: 90px;
  top: 50%;
  transform: translateY(-50%);
  color: #ff4f01;
}
.sections {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sections div {
  position: relative;
}
.sections div a {
  padding: 20px 0 20px 33px;
  font-size: 20px;
  text-transform: uppercase;
  border-bottom: 2px solid #ff4f01;
  transition-duration: 0.5s;
  width: 327px;
  display: block;
  background-color: black;
  color: white;
  text-decoration: none;
}
@media (max-width: 676px) {
  .sections div a {
    padding: 18px 0 18px 30px;
    width: 250px;
    font-size: 19px;
  }
}
.sections div:first-child {
  border-top: 2px solid #ff4f01;
}
.sections div a:hover {
  padding-left: 60px;
  background-color: #181818;
}
.sections div i {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  color: #ff4f01;
  z-index: 3;
  font-size: 20px;
}
.copyright {
  width: 180px;
  margin: 0 auto 13px;
  font-size: 15px;
  text-align: center;
  line-height: 22px;
}
.copyright::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #333333;
  position: relative;
  top: 22px;
}
.copyright span {
  color: #ff4f01;
  background-color: black;
}
nav > div {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.showmenu {
  display: flex;
}
